<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <meta charset="UTF-8">
        <title>Simla Calendar</title>
    </head>
    <body>
        <div></div>
        <div>
            <a href="https://simla.com"><img src="images/simla.svg"></a>
        </div>
        <div>
            <p>Google Calendar integration</p>
        </div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p>
                Integration helps you to create events based on order information from your Simla.com with attached files that app uploads to your Drive from Simla.com
            </p>
        </div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p>Connect your Google account first</p>
        </div>
        <div>
            <a href="{{ authUrl }}"><img src="images/btn_google_signin_dark_normal_web@2x.png" id="button" class="auth_button"></a>
        </div>
        <div></div>
        <div>
            <hr width=35%>
        </div>
        <div>
            <p>
                <a href="terms/terms_of_service.html" target="_blank" class="link">Terms of service</a>
            </p>
            <p>
                <a href="terms/privacy_policy.html" target="_blank" class="link">Privacy policy</a>
            </p>
        </div>
        <script>
            button.onmousedown = function() {
                document.getElementById("button").src = 'images/btn_google_signin_dark_pressed_web@2x.png';
            };
            button.onmouseover = function() {
                document.getElementById("button").src = 'images/btn_google_signin_dark_focus_web@2x.png';
            };
            button.onmouseup = function() {
                document.getElementById("button").src = 'images/btn_google_signin_dark_focus_web@2x.png';
            };
            button.onmouseout = function() {
                document.getElementById("button").src = 'images/btn_google_signin_dark_normal_web@2x.png';
            }
        </script>
    </body>
</html>
