{
    "main": {
        "base_url": "https:\/\/example.com\/",
        "account_rel_url": "config",
        "google_redirect_rel_url": "auth",
        "google_credentials_file": "config\/credentials.json"
    }
}
